<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    {% include "_layout/head.html" %}
    <title>hi</title>
  </head>
  <body>
    {% include "_layout/nav.html" %}
    <div class="container">
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h2><strong>LierOJ举办第一次比赛！!</strong></h2>
        <p>
          请查看题目：
        </p>
        <p><a href="/problem/?pid=9" class="alert-link" target="_blank"> 幻想乡♂早苗</a></p>
        <p><a href="problem/?pid=10" class="alert-link" target="_blank"> 老板♂的花盆</a></p>
        <p><a href="/problem/?pid=8" class="alert-link" target="_blank"> 村子里所有人得了一种怪病♂(一)</a></p>
        <p><a href="/problem/?pid=12" class="alert-link" target="_blank"> (烧)水(问)题♂</a></p>
        <p><a href="/problem/?pid=11" class="alert-link" target="_blank"> 奶牛的智商♂</a></p>
        <p>题目做完后直接提交即可，比赛结束后统一测评公布结果</p>
        请使用Chrome系列浏览器以提高做题体验 若未安装Chrome，<a href="/static/download/ChromeStandaloneSetup64.exe" class="alert-link" target="_blank"> 点此下载安装包</a>
      </div>
      <div class="jumbotron" >
        <h1>Welcome to Lier OJ</h1>
        <p>Building……</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>OJ建设日志</h3>
          <p>在这里，Zhangone将会记录这个OJ从无到有的全过程...</p>
          <p>Zhangone’s OJ is Building...</p>
        </div>
        <div class="col-sm-4">
          <h3>题库</h3>
          <p>题库功能实现中...</p>
          <p>Go on！  lierOiers...</p>
        </div>
        <div class="col-sm-4">
          <h3>题解</h3>
          <p>授人以鱼不如受人以渔...</p>
          <p>历届学长博客全部整合进行中……</p>
        </div>
      </div>
    </div>
  </body>
</html>
